@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}
.pdf-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.pdf-toolbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  background-color: #f8f9fa;
}

.pdf-document {
  flex: 1;
  padding:-12;
  overflow: auto;
  width: 100%;
  max-width: 800px; /* Adjust max-width as needed */
}

.pdf-document canvas {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
}
